/* --------- GLOBALA STILAR --------- */
:root {
    --purple: #845EC2;
    --darkgrey: #4B4453;
    --lightgray: #B0A8B9;
    --red: #C34A36;
    --pink: #FF8066;
    --white: #fff;
    --black: #000;
    --font-logo: 'Righteous', cursive;
    --font-headline: Arial, "Helvetica Neue", Helvetica, sans-serif;
    --font-text: serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headline);
}

/* --------- WRAPPER --------- */
.wrapper {        
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, auto) 1fr auto;

    min-height: 100vh;
    max-width: auto;
    margin: 0 auto;

    background-color: var(--white);
}

/* --------- HEADER OCH NAV --------- */
header {
    background-color: var(--red);

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    padding: 0 2rem;

    display: grid;
}

header .logo {
    display: grid;
    justify-content: center;
}

header nav {
    font-size: 30px;

    display: flex;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
}

header li {
    padding: 0 0.5rem;
}

header ul a {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

/* --------- CONTENT --------- */
.content {
    padding: 1rem 2rem 0 2rem;
}

/* --------- FOOTER --------- */
footer {
    background-color: var(--red);
    color: var(--white);
    padding: 2rem;
    text-align: center;
}


/* --------- START --------- */


/* --------- EN HELG I OSLO --------- */


/* --------- LILLA RESAN --------- */


/* --------- STORA RESAN --------- */


/* --------- OM OSS --------- */

