/* --------- GLOBALA STILAR --------- */
:root {
    --darkgrey: #4B4453;
    --lightgrey: #B0A8B9;
    --blue: #0E1D43;
    --white: #fff;
    --black: #000;
    --font-logo: 'Righteous', cursive;
    --font-headline: Arial, "Helvetica Neue", Helvetica, sans-serif;
    --font-text: serif;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headline);
}

/* --------- WRAPPER --------- */
.wrapper {        
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, auto) 50px 1fr auto;

    min-height: 100vh;
    margin: 0 auto;

    background-color: var(--white);
}

/* --------- HEADER OCH NAV --------- */
header {
    background-color: var(--blue);

    display: flex;
    flex-wrap: wrap;

    display: grid;
}

nav {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-content: space-between;

    background-color: var(--blue);
    height: 50px;
}

a {
    font-size: 40px;
    text-decoration: none;
    color: var(--white);
    width: auto;
    min-width: 220px;
    
    display: flex;
    justify-content: center;
}

header .logo {
    display: grid;
    justify-content: center;
}


/* --------- CONTENT --------- */
.content {
    padding: 1rem 2rem 1rem 2rem;
}

.content > h1 {
    display: flex;
    justify-content: center;
}

.content1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    justify-content: center;
}

.content2 {
    display: grid;
    grid-template-rows: auto;
}

.content3 {
    display: grid;
    
}

li {
    font-size: 25px;
}

/* --------- FOOTER --------- */
footer {
    background-color: var(--blue);
    color: var(--white);
    padding: 2rem;
    text-align: center;
}


/* --------- START --------- */


/* --------- EN HELG I OSLO --------- */


/* --------- LILLA RESAN --------- */


/* --------- STORA RESAN --------- */


/* --------- OM OSS --------- */

